<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title >
      IonicDeezer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-list>
      <ion-item ion-item  button  routerDirection="forward" *ngFor="let song of songs" (click)="detailsPage(song)"> 
        <ion-grid fixed>
          <ion-row>
            <ion-col size="6">
              <ion-img width="80" height="80" src={{song.album.cover_medium}}></ion-img>
            </ion-col>
            <ion-col size="6">
              <ion-grid fixed>
                <ion-row>
                  {{song.title}}
                </ion-row>
                <ion-row>
                  {{song.artist.name}}
                </ion-row>
                <ion-row>
                  {{song.duration}}
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
          
      </ion-item>  
    </ion-list>
</ion-content>